{% extends "title_base.html" %}
{% block title %}
    {% load staticfiles %}
    <link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/message.css" %}">
    </head>

    <body class="review">
    <div class="header">
        <a href="/" class="logo" title="首页"><img alt="易点音乐" src="{% static "image/logo.png" %}"></a>
        <div class="search-box">
            <form id="searchForm" action="{% url 'search' 1 %}" method="post" target="_blank">
                {% csrf_token %}
                <div class="search-keyword">
                    <input id="kword" name="kword" type="text" class="keyword" maxlength="120" placeholder="音乐节"/>
                </div>
                <input id="subSerch" type="submit" class="search-button" value="搜 索"/>
            </form>
            <div id="suggest" class="search-suggest"></div>
        </div>
    </div><!--end header-->
    <div class="nav-box">
        <div class="nav-box-inner">
            <ul class="nav clearfix">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'ranking' %}" target="_blank">歌曲排行</a></li>
                <li><a href="{% url 'home' 1 %}" target="_blank">用户中心</a></li>
                <li><a href="{% url 'message' %}" target="_blank">留言板</a></li>
            </ul>
        </div>
    </div><!--end nav-box-->


    {# 提示用户权限错误信息 #}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}



    <div class="section">
        <div class="section-header">
            <h3 class="section-title" style="font-size:18px">搜索结果
                <button type="button" onclick="window.open('http://127.0.0.1:8000/message/messagebutton1')">管理留言
                </button>
            </h3>


            <select>
                <option value="id">默认</option>
                <option value="user">用户</option>
                <option value="text">内容</option>
                <option value="date">发布时间</option>
                <option value="like">点赞数</option>
            </select>
            <select>
                <option value="up">升序</option>
                <option value="down">降序</option>
            </select>
            <input id="orderbutton" type="submit" value="确 定"/>

        </div>
        <div class="section-content messages-score-new review-messages-score clearfix">
            <br/><br/>


            <div class="wrapper clearfix">
                <div class="content">
                    <div id="J_messageList">
                        <ul class="message-list">
                            {% for item in contacts.object_list %}
                                <li class="message-item ">
                                    <div class="messages-user">
                <span class="face">
                <img src="{% static "image/user.jpg" %}" width="30" height="30">
                </span>
                                    </div>
                                    <div class="messages-list-content">
                                        <div class="single-score clearfix">
                                            <span style="font-size:14px">留言日期：</span>
                                            <span class="date" style="font-size:14px">{{ item.message_date }}</span>
                                            <div><span style="font-size:14px ">留言用户：</span><span class="score"
                                                                                                 style="font-size:14px">{{ item.message_user }}</span>
                                            </div>
                                        </div>
                                        <!--messages-content-->
                                        <div class="messages-content">
                                            <div class="J_messageContent message-height-limit">
                                                <div class="content-inner">
                                                    <div class="messages-words">
                                <span style="font-size:14px;display:inline-block;width:60%;word-wrap:break-word;white-space:normal;">留言内容：
                                    <form action="http://127.0.0.1:8000/message/messagegood2" method="post">
                                        <input type="submit" value="点赞👍" name="{{ item.message_id }}"
                                               onclick="Parsefunc(this.name)"/>
										<span style="font-size:14px">点赞数：{{ item.message_like }}</span>
                                        <script>
                                            function Parsefunc(dataname) {
                                                var dataname = $(this).attr('name');
                                                alert(dataname);
                                                $.ajax({//       url: "/file_parse/",
                                                    type: "POST",
                                                    contentType: "application/json",
                                                    data: JSON.stringify({
                                                        'data': dataname
                                                    })
                                                })
                                            }
                                        </script>

                                    </form>

                                    <form action="http://127.0.0.1:8000/message/messagebad2" method="post">
                                        <input type="submit" value="点踩👎" name="{{ item.message_id }}"
                                               onclick="Parsefunc(this.name)"/>
                                        <script>
                                            function Parsefunc(dataname) {
                                                var dataname = $(this).attr('name');
                                                alert(dataname);
                                                $.ajax({//       url: "/file_parse/",
                                                    type: "POST",
                                                    contentType: "application/json",
                                                    data: JSON.stringify({
                                                        'data': dataname
                                                    })
                                                })
                                            }
                                        </script>

                                    </form>
                                </span>
                                                        <p style="font-size:20px">{{ item.message_text }}</p>


                                                        {% csrf_token %}
                                                        <form action="http://127.0.0.1:8000/message/messagesearchdelete"
                                                              method="post">
                                                            <input type="submit" value="删除评论"
                                                                   name="{{ item.message_id }}"
                                                                   onclick="deletefunc(this.name)"/>
                                                            <script>
                                                                function deletefunc(dataname) {
                                                                    var dataname = $(this).attr('name');
                                                                    alert(dataname);
                                                                    $.ajax({//       url: "/file_parse/",
                                                                        type: "POST",
                                                                        contentType: "application/json",
                                                                        data: JSON.stringify({
                                                                            'data': dataname
                                                                        })
                                                                    })
                                                                }
                                                            </script>
                                                        </form>


                                                        <br/><br/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="page-box">
                            <div class="pagebar" id="pageBar">
                                {% if contacts.has_previous %}
                                    <a href="{% url 'searchmessage' page %}?page={{ contacts.previous_page_number }}"
                                       class="prev"
                                       target="_self"><i></i>上一页</a>
                                {% endif %}
                                {% for page in contacts.paginator.page_range %}
                                    {% if contacts.number == page %}
                                        <span class="sel">{{ page }}</span>
                                    {% else %}
                                        <a href="{% url 'searchmessage' page %}?page={{ page }}"
                                           target="_self">{{ page }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if contacts.has_next %}
                                    <a href="{% url 'searchmessage' page %}?page={{ contacts.next_page_number }}"
                                       class="next"
                                       target="_self">下一页<i></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="wrapper">
                {#        <div class="section">#}
                {#            <div class="section-header"><h3 class="section-title">大家的留言</h3></div>#}
                {#            <div class="section-content messages-score-new review-messages-score clearfix">#}
                <div class="clearfix">

                    <!--点评框-->
                    <p></p>
                    <div class="messages-box">
                        <div style="font-size:24px" class="messages-box-title">我要留言</div>
                        <div class="messages-default-score clearfix"></div>
                        <form action="" method="post" id="usrform">
                            {% csrf_token %}
                            <div class="writebox">
                                <textarea rows="12" cols="100" name="message" form="usrform"></textarea>
                            </div>
                            <div class="messages-box-button clearfix">
                                <input type="submit" value="发布" class="_j_cc_post_entry cc-post-entry" id="scoreBtn">
                                <div data-role="user-login" class="_j_cc_post_login"></div>
                            </div>
                            <div id="scoreTips2" style="padding-top:10px;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


